<div *transloco="let t; scope: 'find-same'">
  <form [formGroup]="findSameForm" (ngSubmit)="onSubmit()">
    
    <div class="d-flex justify-content-center align-items-center">
      <label class="form-label flex-fill text-end me-3">{{t('findSame.pairsNumber')}}:</label>
      <button type="button" (click)="changePairsNumber(-1)" [disabled]="findSameForm.disabled" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
          <path d="m3.86 8.753 5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z"/>
        </svg>
      </button>
      <input type="number" formControlName="pairsNumber" class="form-control w-25 text-center mx-1" aria-label="Cards amount" readonly>
      <button type="button" (click)="changePairsNumber(+1)" [disabled]="findSameForm.disabled" class="btn btn-primary">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
          <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
        </svg>
      </button>
    </div>
    <div class="d-flex justify-content-between my-3">
      <button type="button" (click)="onRestart()" [ngClass]="{invisible: !findSameForm.disabled }" [disabled]="!findSameForm.disabled" class="btn btn-danger">
        {{t('findSame.restart')}}
      </button>
      <button type="submit" [disabled]="findSameForm.disabled" class="btn btn-primary">
        {{t('findSame.start')}}
      </button>
    </div>

  </form>

</div>
