<hr class="mt-5">
<div class="d-flex align-items-center text-center mt-5 mb-3">

  <div class="col-4">
    <div class="container">
      <div class="row">

        <div class="col">

          <a target="_blank" href="https://the-trivia-api.com/"
            class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            <figure>
              <img src="./assets/images/logos/the-trivia-api.png" alt="The trivia api"
                class="img-fluid rounded logo-api">
              <figcaption>The Trivia Api v.1.0</figcaption>
            </figure>
          </a>
        </div>

        <div class="col">
          <a target="_blank" href="https://pokeapi.co/"
            class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
            <figure>
              <img src="./assets/images/logos/pokeapi.png" alt="PokeApi" class="img-fluid logo-api">
              <figcaption>PokeApi v.2.0</figcaption>
            </figure>
          </a>
        </div>

      </div>
    </div>
  </div>

  <div class="col-4" *transloco="let t">
    <p class="fs-4 fs-honk">GamesApp</p>
    <p class="fs-6">{{t('createdBy')}} <a target="_blank" href="https://akiraz14.github.io/"
        class="link-warning link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">Akiraz14</a></p>

    <a target="_blank" href="https://github.com/Akiraz14/gamesApp/"
      class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
      <figcaption class="ms-3">
        <img src="./assets/images/logos/icons8-github.svg" alt="Github" class="logo">
        <figcaption>Github</figcaption>
      </figcaption>
    </a>

  </div>

  <div class="col-4 d-flex justify-content-center">

    <a target="_blank" href="https://angular.dev/"
      class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
      <figure>
        <img src="./assets/images/logos/icons8-angular.svg" alt="Angular" class="logo">
        <figcaption>Angular v.17.1.1</figcaption>
      </figure>
    </a>

    <a target="_blank" href="https://getbootstrap.com/docs/5.3/getting-started/introduction/"
      class="link-info link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
      <figcaption class="ms-3">
        <img src="./assets/images/logos/icons8-bootstrap.svg" alt="Bootstrap" class="logo">
        <figcaption>Bootstrap v.5.3</figcaption>
      </figcaption>
    </a>

  </div>


</div>